.navbar {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-evenly;
    /* Center the buttons with equal space between them */
}

.navbar a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #cbccff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

body {
    background-color: #c6dae6;
    /* Set background color to #c6dae6 */
}

/* Add CSS for horizontal navigation */
.w3-bar-item {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.w3-bar-item:hover {
    border-bottom: 2px solid #000000;
}

.button {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 70px 2px 50px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 2px solid #000000;
}

.button:hover {
    background-color: #cbccff;
    color: #000000;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

#intro {
    margin-bottom: 200px;
    /* Add margin-bottom to create space below the "Join Us" button */
    margin-top: 200px;
}

#gallery {
    margin-top: 200px;
    margin-bottom: 400px;
    /* Add margin-top to create space between "About Us" and "Gallery" */
}

#intro button {
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 2px solid #000000;
}

#intro button:hover {
    background-color: #cbccff;
    color: #000000;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

#intro ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#contact {
    margin-bottom: 0;
    /* Remove margin at the bottom of the contact section */
}

.w3-image {
    z-index: 1;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px;
    }
}

.login-container {
    float: right;
}

.login-container input[type="text"] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 120px;
}

.login-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: #555;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.login-container button:hover {
    background-color: green;
}

@media screen and (max-width: 600px) {
    .login-container {
        float: none;
    }
}
