---
layout: layout.liquid
---
<style>
    p {
        margin-left: 50px;
        margin-right: 50px;
    }
    h1, h2, h3 {
        margin-left: 50px;
        margin-right: 50px;
        font-weight: bold;
    }
    .article a {
        color: blue;
    }
</style>
<div class="article">
    {{ content }}
</div>
