---
layout: layout.liquid
---
<style>
    <<<<<<< HEAD
    p {
        margin-left: 50px;
        margin-right: 50px;
    }
    h1, h2, h3 {
        margin-left: 50px;
        margin-right: 50px;
        font-weight: bold;
=======
    .article a {
        color: blue;
>>>>>>> 7eeea49b2f58c18da304566fa8c45551ae972fcf
    }
</style>
<div class="article">
    {{ content }}
</div>
