---
title: New Age Bio
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {{ title | escape }}
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <nav class="navbar">
            <div class="dropdown">
                <button class="dropbtn">
                    <a href="/">Home
                    </a>
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">about us
                    </a>
                    <a href="#">join us
                    </a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">
                    <a href="/yourAccount/">Join US
                    </a>
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">About You
                    </a>
                    <a href="#">Your Role
                    </a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">
                    <a href="/studyResources/">Study With Us
                    </a>
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Subject1
                    </a>
                    <a href="#">Subject2
                    </a>
                    <a href="#">Subject3
                    </a>
                    <a href="#">Subject4
                    </a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">
                    <a href="#forum">Article
                    </a>
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Subject1
                    </a>
                </div>
            </div>


        </nav>

        <main>
            {{ content }}
        </main>
    </body>
</html>
